<server description="Sample Liberty server">

  <featureManager>
      <feature>microProfile-3.3</feature>
  </featureManager>

 <variable name="default.http.port" defaultValue="9080"/>
 <variable name="default.https.port" defaultValue="9443"/>
 <variable name="project.name" defaultValue="javalibertyapp"/>

 <httpEndpoint id="defaultHttpEndpoint"
               httpPort="${default.http.port}"
               httpsPort="${default.https.port}"
               host="*" />

    <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <applicationMonitor pollingRate="1000ms"/>

  <webApplication location="${project.name}.war" contextRoot="/"/>

</server>
